// Colors Val
$search-box-bg-color: #ef5661;
$sabad-kharid-bg-color: #00bfd6;
$span-count-cart-color: #00bfd6;
$link-register-color: #515151;
$sreach-box-bg-color: #ECEFF1;
$text-color: #a7788b;


// Mixins

@mixin sabadbtn {
    color: #FFFFFF;
    background: $sabad-kharid-bg-color;
    margin: 5px 1px;
    padding: 11px 22px;
}

// base 

*{
    font-family: 'Vazir';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none !important;
    transition: all .2s linear;
    direction: rtl;
 }

 .header{
     margin-top: .8rem;
     .logo{
         float: right;
     }

     .sreach-box{
        padding: 0 15px;

        .sreach-input{
            width: 40.281rem;
            height: 2.75rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #ECEFF1;

            &:focus{
                box-shadow: none;
            }

        }

        .btn-sreach{
            width: 3.75rem;
            height: 2.75rem;
            padding: 1px 6px;
            background-color: #ef5661;
            color: #FFFFFF;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            

            i{
                font-size: 1.5rem;
                
            }
        }

        
     }


     .register-login{
         margin-top: 10px;
         
         a{
             color: #6f6f6f;
         }

     }

     .sabad{
         margin-top: 2px;

         .sabad-btn{
             
             padding: 11px 22px;
             background-color: #00bfd6;
             width: 10.774rem;
             height: 2.704rem;
             border: none;

             img{
                 width: 1.313rem;
                 height: 1.313rem;
                 margin-left: 10px;
             }

             .custom-badge{
                 margin-right: 4px;
                border-radius: 40%;
                 font-size: 0.938rem;
                 color: #00bfd6;
                 background-color: #FFFFFF;
                 
             }
             .custom-sabad{
                 color: #FFFFFF;
             }
         }
     }

 }

 .navbar{
    margin-top: 20px;
     background-color: #616161;
     position: relative;
     
     .nav-menu{
        .link{
            color: #fffde6;
            font-size: .8rem;
            height: 100%
            
            

            
        }
        .off{
            font-size: 1rem;
            padding: 5px;
            
        }
        .off-btn{
            background-color: #4D4D4D;
            padding: 10px;   
            
            
        }

        
     }
 }